# database config
production:
  adapter: {{ getv "/db_adapter" }}
  encoding: unicode
  database: {{ getv "/db_database" }}
  pool: 10
  username: {{ getv "/db_username" }}
  password: {{ getv "/db_password" }}
  host: {{ getv "/db_host" }}
  port: {{ getv "/db_port" }}
