# database config
production:
  adapter: postgresql
  encoding: unicode
  database: {{ .gitlab_postgresql_database }}
  pool: 10
  username: {{ .gitlab_postgresql_username }}
  password: {{ .gitlab_postgresql_password }}
  host: {{ .gitlab_postgresql_host }}
  port: {{ .gitlab_postgresql_port }}
