defaults
account default
host {{ .smtp_host }}
port {{ .smtp_port }}
tls {{ .smtp_tls }}
tls_certcheck off
domain {{ .smtp_domain }}
from {{ .smtp_from }}
auth {{ .smtp_auth }}
user {{ .smtp_user }}
password {{ .smtp_pass }}
