defaults
account default
host {{ getv "/smtp_host" }}
port {{ getv "/smtp_port" }}
tls {{ getv "/smtp_tls" }}
tls_certcheck off
domain {{ getv "/smtp_domain" }}
from {{ getv "/smtp_from" }}
auth {{ getv "/smtp_auth" }}
user {{ getv "/smtp_user" }}
password {{ getv "/smtp_pass" }}
