defaults
account default
host {{ .global_smtp_host }}
port {{ .global_smtp_port }}
tls {{ .global_smtp_tls }}
tls_certcheck off
domain {{ .gitlab_smtp_domain }}
from {{ .gitlab_smtp_from }}
auth {{ .gitlab_smtp_auth }}
user {{ .gitlab_smtp_user }}
password {{ .gitlab_smtp_pass }}
